.arrow {
    margin-left: 10px;
    transition: transform 0.3s;
}

.collapsed .arrow {
    transform: rotate(90deg);
}

.content-block-video {
    position: relative; 
    text-align: center; 
    color: white; 
    margin-bottom: 20px;
    z-index: 1;
}

.content-block-video video {
    width: 100%; 
    height: auto;
}

.content-block-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.photo-padding {
    padding: 2px;
}

@media(max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .nav.active {
        display: flex;
    }
    .burger-menu {
        display: block;
    }
    .logo-container {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: space-between;
    }
}

video {
    position: relative;
    z-index: -1;
}

.card {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-card .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
    z-index: 2;
}

.product-card a {
    position: relative;
    z-index: 3;
    color: #007BFF;
    text-decoration: none;
}

.col:hover .product-card {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.col:hover .product-card .card-body {
    opacity: 1;
    color: #333;
}

.col:hover .product-card img {
    opacity: 0.1;
}
